# EditorConfig helps maintain consistent coding styles across different editors.
# https://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript / TypeScript / JSON
[*.{js,jsx,ts,tsx,json,jsonc}]
indent_style = space
indent_size = 2

# Rust
[*.rs]
indent_style = space
indent_size = 4